
.vs/ModeratorForWWG/FileContentIndex/37a9c43a-be88-4ac1-9b77-b68d99f8d1ba.vsidx
*.vsidx
*.lock
.vs/ModeratorForWWG/v17/.suo
*.ipch
*.db
.vs/slnx.sqlite
cppp/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-shm
*.tlog
*.exe
*.obj
cppp/ConsoleApplication1/.vs/ConsoleApplication1/v17/.suo
*.pdb
cppp/ConsoleApplication1/x64/Debug/vc143.idb
cppp/ConsoleApplication1/x64/Debug/ConsoleApplication1.ilk
cppp/ConsoleApplication1/x64/Debug/ConsoleApplication1.exe.recipe
cppp/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
cppp/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-wal
